*/node_modules
*node_modules
.env
coverage
coverage.json
typechain
config.json
contract.addresses
deployedAddresses

#Hardhat files
cache
artifacts
*.lock
#Foundry files

*.DS_Store

broadcast

# Deployment tools
.idea
# /lib
# lib
out
